@media screen and (min-width: 48em){
    .verkefni {
        table {
            table-layout: fixed;
            width: 100%;

            thead {
                float: left;
                th{
                    display: block;
                }
            }
            tbody {
                float: right;
                tr th{
                    background-color: #f8f8f8;
                    border: 1px solid #ddd;
                    padding: .35em;
                }
            }
        }
    }
}

@media screen and (max-width: 820px){
    .verkefni {

        width: fit-content;
        margin: auto;
    
        
    
      }
}