table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table {
    border-radius: 7px;
    overflow: hidden;
}

table tr {
    background-color: #ffffffbb;
    padding: 13px;
    border-radius: 5px;
}
table tbody tr:nth-child(2n){
    background-color: #dededebb;
}

table th {
    background-color: #bbbbbbcc;
    border: 0;
    padding: 15px;
}

table td {
    padding: 10px;
    text-align: center;
}

table tfoot tr {
    background-color: #bbbbbbbb;
}


@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }
    table tfoot {
        display: none;
    }

    table tr {
        display: block;
        margin-top: 5px;
        padding-bottom: 20px;
    }

    table td {
        border-bottom: 1px solid #333;
        display: block;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
    }
}