<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, height=device-height">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body id="body">
    <header>
      <div class="logotit">
        <img class="logo" src="../assets/img/owo.svg">
        <h1>My Blog</h1>
      </div>
      <div class="navs">
        <label for="toggle" class="menuLabel">
            <input type="checkbox" id="toggle" class="menuInput">
            <span class="icon-menu"></span>
            {% include navigation.html %}
      </label>
      </div>
    </header>
    <div class="grid">
      <div class="left">
        {% include ad.html %}
      </div>
      <div class="right content">
        {{ content }}
      </div>
      <div class="chat">
        <script id="cid0020000214159465026" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 230px;height: 490px;">{"handle":"sesselja","arch":"js","styles":{"a":"0084EF","b":100,"c":"FFFFFF","d":"FFFFFF","k":"0084EF","l":"0084EF","m":"0084EF","n":"FFFFFF","p":"10","q":"0084EF","r":100,"cnrs":"0.35"}}</script>
      </div>
    </div>
    <footer>
      <a href="https://www.facebook.com/OwOShitposting/" target="_none"><span data-icon="&#xea91;"></span></a>
      <a href="https://www.instagram.com/starry_kitsune/" target="_none"><span data-icon="&#xea92;"></span></a>
      <a href="https://twitter.com/danakongur" target="_none"><span data-icon="&#xea96;"></span></a>
    </footer>
  </body>
</html>