<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <div class="logotit">
        <img class="logo" src="../assets/img/owo.svg">
        <h1>My Blog</h1>
      </div>
      <div class="navs">
        {% include navigation.html %}
      </div>
    </header>
    <div class="content">
        {{ content }}
    </div>
    <footer>
      <a href="https://www.facebook.com/OwOShitposting/"><span data-icon="&#xea91;"></span></a>
      <a href="https://www.instagram.com/starry_kitsune/"><span data-icon="&#xea92;"></span></a>
      <a href="https://twitter.com/danakongur"><span data-icon="&#xea96;"></span></a>
    </footer>
  </body>
</html>